.signup-form {
  display: flex;
  /* position: static; */
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 320px;
  border-radius: 10px;
  /* z-index: auto; */
  padding: 10px;
}

.signup-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff5501;
  width: 275px;
  height: 40px;
  color: white;
  margin: 10px;
  border-radius: 3px;
  border: none;
}

.signUp-failed {
  color: red;
  padding-bottom: 10px;
}

.signup-errors {
  color: red;
}

.signUpButton {
  display: block;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(255, 85, 1);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.signup-input {
  display: flex;
  margin: 10px;
  height: 30px;
  width: 275px;
  padding: 10px;
  border-radius: 2px;
}

.signup-form-fine-print {
  display: block;
  padding: 10px;
}

.signup-form-fine-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: #999;
}
