
.signup-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 300px;
  border-radius: 10px;
}

/* .signup-div {

} */
.signup-form button {
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 100px, 0px
}

.buttonDiv {
  display: flex;
  padding: 1em;
}

.signUp-failed {
  color: red;
  padding-bottom: 10px;
}