.playlist-div {
  border: 1px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  height: 550px;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px #999;
}

.playlistForm-errors {
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.playlistForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  width: 80%;
  height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* border-bottom: 2px solid #F95502; */
  margin-top: 30px;
}

.playlistForm-field {
  display: flex;
  margin: 20px;
  /* border-top: 1px solid #999;
  border-bottom: 1px solid #999; */
}

.playlistFormDetail-basic-info {
  display: flex;
  align-items: center;
  width: 700px;
  margin-left: 125px;
  /* flex-wrap: nowrap; */
  padding-bottom: 15px;
  justify-content: space-between;
  height: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* border: 2px solid yellow; */
  /* margin-top: 15px; */
  border-bottom: 2px solid #f95502;
}

.playlistForm-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  margin-top: 25px;
  margin-left: 135px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  /* border: 2px solid green; */
}

.playlist-creator {
  width: 300px;
  height: 30px;
  border-radius: 3px;
}

.playlist-creator::placeholder {
  padding: 3px;
}

.playlistForm-info-div {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 350px;
  padding-top: 50px;
  margin: 15px;
}

.playlistForm-image {
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.playlistForm-submit-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  margin-left: 20px;
  /* position: inherit; */
  height: 50px;
  width: 300px;
}

.playlistForm-submit-button {
  height: 40px;
  width: 200px;
  color: white;
  background-color: #f95502;
  border-radius: 3px;
}

.allPlaylists {
  overflow: auto;
}

.playlist-page {
  border: 10px solid yellow;
  display: flex;
}

.allPlaylistsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  /* margin-top: 1000px; */
  /* padding-top: 500px; */
  height: 100%;
}

.playlistForm-field {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.playlist-name {
  display: flex;
  justify-content: center;
}

.playlistLink {
  font-size: 25px;
  padding-bottom: 5px;
}

.playlistDetail-container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 20px;
}

.playlist-info {
  border: 1px solid black;
  display: flex;
  padding: 5px;
  margin: 10px;
}

.playlist-info-text {
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

/* .owner-action-div {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.owner-playlists {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  margin: 15px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.noPlaylist-text {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  font-size: 20px;
}

.newPlaylist-link {
  /* border: 1px solid red; */
  display: flex;
  margin-left: 15px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

/* .upload-playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  border: 10px solid green;
  width: 100%;
  margin-left: 850px;
} */

.playlistDetail-container {
  border: 1px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  height: 500px;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px #999;
}

.playlistDetail-basic-info {
  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  height: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #f95502;
}

.playlist-info-div {
  /* border-top: 1px solid #999;
  border-bottom: 1px solid #999; */
  width: 300px;
  padding: 10px;
}

.playlistImage {
  display: flex;
  align-items: center;
  height: 200px;
  width: 200px;
  padding: 5px;
  padding-top: 30px;
}

.backToExplore {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 15px;
  color: #999;
}

.playlistDetail {
  display: flex;
  margin: 20px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.playlist-info-div {
  /* border-top: 1px solid #999;
  border-bottom: 1px solid #999; */
  width: 300px;
  padding: 10px;
}

.playlist-info-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  margin: 5px;
}

.allPlaylists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid red; */
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.allPlaylists {
  height: fit-content;
}

.allPlaylistsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  /* margin-top: 1000px; */
  /* padding-top: 500px; */
  height: 100%;
}

.allPlaylistsList li {
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  /* background: linear-gradient(135deg, rgb(159, 122, 123) 0%, rgb(91, 95, 91) 100%); */
  /* margin-top:50px; */
  top: 25;
  width: 100%;
  height: 30px;
}

.playlist-card {
  /* border: 3px solid yellow; */
  width: 500px;
}

.playlist-link {
  /* border: 1px solid #999; */
  display: flex;
  width: 400px;
  height: 40px;
  /* justify-content: center; */
  align-items: center;
  padding-left: 50px;
  /* margin-top: 90px; */
  margin-left: 30px;
  font-size: 14px;
  color: #999;
  z-index: 90;
  /* color: red; */
}

.playlist-link:hover {
  cursor: pointer;
}

.upload-playlist {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 10px solid yellow; */
  width: 300px;
  height: 30px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: #f95502;
  color: white;
}

.top-playlists-container {
  border: 10px solid yellow;
}

.editPlaylistButton {
  background-color: #f95502;
  height: 30px;
  width: 100px;
  color: white;
}

.deletePlaylistButton {
  background-color: #999;
  color: white;
  height: 30px;
  width: 100px;
}

.top-playlists-text {
  padding: 15px;
}

.hand-picked-text {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.playlist-occasion-text {
  margin-left: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #999;
}
