

.login-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.login-form button {
  display: flex;
  justify-content: center;
  background: red;
}

.buttonDiv {
  display: flex; 
  padding: 1em;
}

.welcomeLogin {
  display: flex;
  padding: 1em;
  font-size: 21px;
}
/* 
.login-form-text {
  display: flex;
  flex-direction: column;
}
.password-text {
  display: flex;
  flex-direction: column;
} */